name: Build and Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        cache: 'pip'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install nuitka zstandard
        pip install -r requirements.txt

    - name: Build Executable
      run: |
        python -m nuitka --standalone --onefile --enable-plugin=pyside6 --disable-console --disable-cache=all --accept-downloads --output-filename=CodeContextExtractor.exe code_copier.py

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: CodeContextExtractor.exe
        generate_release_notes: true
